@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Bienvenido</h1>
    <h2>Diseño y arquitectura de software </h2>
    <p>Esta pagina fue creada por el grupo 4, creo el tuyo con <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a> ^^.</p>
    <h3>Integrantes👨‍💻 : </h3>
    <h4 style="writing-mode: vertical">
        💻Renzo⚙️<br>
        🛠David📚<br>
        🔐Elizabeth📖<br>
        🌐Aldahir🤖<br>
        ☁️Jesus📱<br>
        ⌨️Andre👾 <br>
    </h4>
</div>
