@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>Use this page to detail your site's privacy policy.</p>
<a style="color: maroon">
    Tu privacidad es importante para nosotros. Al iniciar sesión, recopilamos y utilizamos tus datos para mejorar nuestros servicios, personalizar tu experiencia y cumplir con obligaciones legales. Solo compartimos tu información con terceros cuando es necesario para ofrecer nuestros servicios o si lo exige la ley.

    Puedes acceder, actualizar o eliminar tus datos en cualquier momento. Tomamos medidas de seguridad para proteger tu información y la conservamos solo el tiempo necesario.

    Para más detalles, consulta nuestra política completa o contáctanos si tienes preguntas.
</a>
