html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.hean {
    background-color: black !important;
    font-family:'Century Gothic';
}
.text{
    color: wheat;
}

.navbar-toggler-icon {
    background-color: white; /* Cambia el color de las tres líneas */
}

/* Cambiar el color de fondo del botón hamburguesa */
.navbar-toggler {
    background-color: white; /* Cambiar el fondo del botón */
}

    /* Cambiar el color de fondo del botón hamburguesa cuando está activo (cuando se muestra el menú) */
    .navbar-toggler.collapsed {
        background-color: white; /* Fondo más oscuro cuando el menú está colapsado */
    }

